[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
sqlalchemy = "*"
alembic = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
